<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yocto.sdk.docker.ui.dialogs.YoctoProjectPreferencePage"
            id="org.yocto.sdk.docker.ui.YoctoProjectPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.yocto.sdk.docker.ui.dialogs.YoctoProjectPropertyPage"
            id="org.yocto.sdk.docker.ui.YoctoProjectPropertyPage"
            name="%page.name.0"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="projectNature"
               value="org.yocto.sdk.core.YoctoProjectNature">
         </filter>
      </page>
   </extension>
</plugin>
