<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         id="autotoolsNatureV2"
         name="%AutotoolsNewNature.name"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
      <runtime>
         <run
               class="org.yocto.remote.sdk.core.RemoteAutotoolsNewProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.cdt.autotools.core.genmakebuilderV2">
      </builder>
   </extension>
   <extension
         id="genmakebuilderV2"
         name="%Makefile.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.yocto.remote.sdk.core.RemoteAutotoolsConfigurationBuilder">
         </run>
      </builder>
   </extension>
 	<extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="org.yocto.remote.sdk.ui.projectType"
            isAbstract="true"
            name="%projectType.name.0"
            superClass="org.eclipse.linuxtools.cdt.autotools.core.projectType">
      </projectType>
    </extension>
	<extension
         point="org.eclipse.cdt.core.templates">
      <template
            filterPattern=".*gcc"
            id="org.yocto.remote.sdk.ui.templates.autotoolsHelloWorldCProject"
            location="templates/projecttemplates/AutotoolsHelloWorldCAutotoolsProject/template.xml"
            projectType="org.yocto.remote.sdk.ui.projectType">
      </template>
   </extension>
      <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="NewRemoteYoctoProject"
            processRunner="org.yocto.remote.sdk.ui.templates.NewRemoteYPTemplateProcess">
         <simple
               name="name">
         </simple>
         <simple
               external="true"
               name="location"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="artifactExtension">
         </simple>
         <simple
               external="true"
               name="isCProject">
         </simple>
         <simple
               external="true"
               name="isEmptyProject">
         </simple>
         <simple
               external="true"
               name="isAutotoolsProject">
         </simple>
         <simple
               external="true"
               name="isCMakeProject">
         </simple>
      </processType>
      <processType
            name="NewRemoteAutotoolsYPPostProcess"
            processRunner="org.yocto.remote.sdk.ui.templates.NewRemoteAutotoolsYPPostProcess">
         <simple
               name="projectName">
         </simple>
      </processType>
   </extension>
    <extension
         id="org.eclipse.cdt.autotools.ui.commands"
         name="Autoconf"
         point="org.eclipse.ui.commands">
      <category
            id="org.yocto.remote.sdk.ui.category.invokeAutotools"
            name="%InvokeAutotools.label">
      </category>
      <command
            categoryId="org.yocto.remote.sdk.ui.category.invokeAutotools"
            description="%Reconfigure.description"
            id="org.eclipse.cdt.autotools.ui.command.reconfigure"
            name="%Reconfigure.label">
      </command>
   </extension>
 <extension
 	   id="org.yocto.remote.sdk.ui.popup1"
       point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.yocto.remote.sdk.ui.popupMenu.NavigatorContribution">
          <action
                class="org.yocto.remote.sdk.ui.actions.RemoteReconfigureAction"
                definitionId="org.eclipse.cdt.autotools.ui.command.reconfigure"
                id="org.yocto.remote.sdk.ui.actions.autoreconf1"
                label="%Reconfigure.label"
                menubarPath="autotoolsGroup">
          </action>
         <visibility>
            <or>
              <objectState
                 name="projectNature"
                 value="org.eclipse.cdt.autotools.core.autotoolsNatureV2"/>
              <objectState
                 name="projectNature"
                 value="org.eclipse.linuxtools.cdt.autotools.core.autotoolsNatureV2"/>
            </or>
         </visibility>
      </objectContribution>
</extension>
</plugin>
