<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.yocto.sdk.cmake.ui.configureYoctoProjectCMakeProject"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.yocto.sdk.cmake.ui.ConfigureYoctoProjectCMakeProjectAction"
               enablesFor="+"
               id="org.yocto.sdk.cmake.ui.configureYoctoProjectCMakeProjectAction"
               label="%action.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="nature"
                     value="org.yocto.cmake.core.CMakeNature">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="org.yocto.sdk.core.YoctoProjectNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
