<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.yocto.cmake.ui.internal.CMakeConsole"
            id="org.yocto.cmake.ui.CMakeConsole">
      </CBuildConsole>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.cdt.ui.importWizardCategory"
            class="org.yocto.cmake.ui.internal.CMakeImportWizard"
            id="org.yocto.cmake.ui.wizard.importWizard"
            name="Existing code as CMake project">
      </wizard>
   </extension>
</plugin>
