<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
        <builder
              buildfileGenerator="org.yocto.sdk.cmake.core.YoctoProjectCMakeMakefileGenerator"
              cleanBuildTarget="clean"
              command="make"
              id="org.yocto.cmake.core.builder.yocto"
              isVariableCaseSensitive="false"
              name="%builder.name"
              supportsManagedBuild="true">
        </builder>
        <toolChain
              configurationEnvironmentSupplier="org.yocto.sdk.core.YoctoProjectEnvironmentVariableSupplier"
              id="org.yocto.cmake.core.toolchain.yocto.base"
              name="%toolChain.name"
              superClass="org.yocto.cmake.core.toolchain.base">
           <!--<builder
                 id="org.yocto.cmake.core.builder.yocto.base"
                 isAbstract="false"
                 isVariableCaseSensitive="false"
                 superClass="org.yocto.cmake.core.builder">
           </builder>
           <tool
                 id="org.yocto.cmake.core.cmake.yocto.base"
                 isAbstract="false"
                 superClass="org.yocto.cmake.core.cmake">
           </tool>
            <tool
                id="org.yocto.cmake.core.compiler.yocto.base"
                isAbstract="false"
                natureFilter="ccnature"
                superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
            </tool>
            <tool
                id="org.yocto.cmake.core.linker.yocto.base"
                isAbstract="false"
                natureFilter="ccnature"
                superClass="cdt.managedbuild.tool.gnu.cpp.linker">
            </tool>
            <tool
                id="org.yocto.cmake.core.compiler.gnu.c.yocto.base"
                isAbstract="false"
                natureFilter="cnature"
                superClass="cdt.managedbuild.tool.gnu.c.compiler">
            </tool>
            <tool
                id="org.yocto.cmake.core.linker.gnu.c.yocto.base"
                isAbstract="false"
                natureFilter="cnature"
                superClass="cdt.managedbuild.tool.gnu.c.linker">
            </tool>-->
        </toolChain>
                <projectType
            buildArtefactType="org.yocto.cmake.core.buildArtefact.exe"
            id="org.yocto.cmake.core.target.yocto.exe"
            isAbstract="false">
            <configuration
                buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
                buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
                cleanCommand="rm -rf"
                description="%config.debug.description"
                id="org.yocto.cmake.core.configuration.yocto.exe.debug"
                name="%configuration.name"
                parent="org.yocto.cmake.core.configuration.base">
                <toolChain
                      id="org.yocto.cmake.core.toolchain.yocto.exe.debug"
                      languageSettingsProviders="org.yocto.cmake.core.includeProvider"
                      superClass="org.yocto.cmake.core.toolchain.yocto.base"
                      supportsManagedBuild="true">
                    <targetPlatform
                        id="org.yocto.cmake.core.target.platform.yocto.exe.debug"
                        isAbstract="false"
                        superClass="org.yocto.cmake.core.target.platform.base">
                    </targetPlatform>
                    <builder
                        cleanBuildTarget="clean"
                        id="org.yocto.cmake.core.builder.yocto.exe.debug"
                        isVariableCaseSensitive="false"
                        superClass="org.yocto.cmake.core.builder.yocto">
                    </builder>
                    <tool
                          commandLinePattern="${COMMAND} ${FLAGS} "
                          id="org.yocto.cmake.core.cmake.yocto.exe.debug"
                          isAbstract="false"
                          name="Yocto Project CMake (alpha)"
                          superClass="org.yocto.cmake.core.cmake.exe">
                    </tool>
                </toolChain>
            </configuration>
        </projectType>
    </extension>
    <extension
          point="org.eclipse.cdt.core.templateAssociations">
       <template
             id="org.yocto.cmake.core.template.helloWorldCCMakeProject">
          <toolChain
                id="org.yocto.cmake.core.toolchain.yocto.base">
          </toolChain>
       </template>
       <template
             id="org.yocto.cmake.core.template.helloWorldCPPCMakeProject">
          <toolChain
                id="org.yocto.cmake.core.toolchain.yocto.base">
          </toolChain>
       </template>
    </extension>
</plugin>
