<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.yocto.sdk.ui.decorators.YoctoProjectProfileDecorator"
            id="org.yocto.sdk.ui.profileDecorator"
            label="%decorator.label"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IProject"
            state="true">
         <description>
            %decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description"
            name="org.yocto.sdk.ui.dynamicVariableResolver"
            resolver="org.yocto.sdk.core.YoctoProjectDynamicVariableResolver">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/y.gif"
            id="org.yocto.sdk.ui.YoctoProjectNatureImage"
            natureId="org.yocto.sdk.core.YoctoProjectNature">
      </image>
   </extension>

</plugin>
