<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.yocto.sdk.ui.decorators.YoctoProjectProfileDecorator"
            id="org.yocto.sdk.ui.profileDecorator"
            label="%decorator.label"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IProject"
            state="true">
         <description>
            %decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description"
            name="org.yocto.sdk.ui.dynamicVariableResolver"
            resolver="org.yocto.sdk.core.YoctoProjectDynamicVariableResolver">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.yocto.sdk.ui.enableNatureAction"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.yocto.sdk.ui.actions.EnableNatureAction"
               enablesFor="+"
               id="org.yocto.sdk.ui.enableNatureAction"
               label="%action.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="org.yocto.sdk.ui.YoctoProjectNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.yocto.sdk.ui.disableNatureContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.yocto.sdk.ui.actions.DisableNatureAction"
               id="org.yocto.sdk.ui.disableNatureAction"
               label="%action.label.0"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="nature"
                     value="org.yocto.sdk.ui.YoctoProjectNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/y.gif"
            id="org.yocto.sdk.ui.YoctoProjectNatureImage"
            natureId="org.yocto.sdk.core.YoctoProjectNature">
      </image>
   </extension>

</plugin>
