<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="org.yocto.sdk.autotools.core.projectType"
            isAbstract="false"
            superClass="org.eclipse.linuxtools.cdt.autotools.core.projectType">
         <configuration
               id="org.yocto.sdk.autotools.core.configuration.build"
               parent="org.eclipse.linuxtools.cdt.autotools.core.configuration.build">
            <toolChain
                  configurationEnvironmentSupplier="org.yocto.sdk.autotools.core.internal.YoctoAutotoolsEnvironmentVariableSupplier"
                  id="org.yocto.sdk.autotools.core.toolChain"
                  isAbstract="false"
                  name="Yocto Project GNU Autotools Toolchain (alpha)"
                  superClass="org.eclipse.linuxtools.cdt.autotools.core.toolChain">
               <tool
                     id="org.yocto.sdk.autotools.core.gnu.toolchain.tool.configure"
                     isAbstract="false"
                     name="Yocto Project configure"
                     superClass="org.eclipse.linuxtools.cdt.autotools.core.gnu.toolchain.tool.configure">
                              <option
                                    category="org.eclipse.linuxtools.cdt.autotools.core.configure.optionCategory.configure.platform"
                                    command="--host="
                                    defaultValue="BAR"
                                    id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.host"
                                    isAbstract="false"
                                    name="%Option.configure.host"
                                    resourceFilter="all"
                                    tip="%Option.configure.host.tip"
                                    valueType="string"/>
                  <option
                        defaultValue="FOO"
                        id="org.yocto.sdk.autotools.core.option2"
                        isAbstract="false"
                        resourceFilter="all"
                        valueType="string">
                  </option>
               </tool>
            </toolChain>
         </configuration>
         <configuration
               id="org.yocto.sdk.autotools.core.configuration.build.debug"
               parent="org.eclipse.linuxtools.cdt.autotools.core.configuration.build.debug">
            <toolChain
                  configurationEnvironmentSupplier="org.yocto.sdk.autotools.core.internal.YoctoAutotoolsEnvironmentVariableSupplier"
                  id="org.yocto.sdk.autotools.core.toolChain.debug"
                  isAbstract="false"
                  name="Yocto Project GNU Autotools Toolchain (alpha)"
                  superClass="org.eclipse.linuxtools.cdt.autotools.core.toolChain.debug">
               <tool
                     id="org.yocto.sdk.autotools.core.gnu.toolchain.tool.configure.debug"
                     isAbstract="false"
                     name="Yocto Project configure"
                     superClass="org.eclipse.linuxtools.cdt.autotools.core.gnu.toolchain.tool.configure.debug">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
   </extension>      
</plugin>
