<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.cdt.managedbuilder.core.buildProperties">
        <propertyValue
            id="org.yocto.cmake.core.buildArtefact.exe"
            name="%propertyValue.name"
            property="org.eclipse.cdt.build.core.buildArtefactType">
        </propertyValue>
    </extension>
    <extension
        id="org.yocto.cmake.core"
        point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
        <managedBuildRevision
            fileVersion="4.0.0">
        </managedBuildRevision>
        <tool
              advancedInputCategory="false"
              command="cmake"
              commandLinePattern="${COMMAND} ${FLAGS} "
              id="org.yocto.cmake.core.cmake"
              name="%tool.name"
              natureFilter="both">
            <optionCategory
                id="org.yocto.cmake.core.cmake.category.options"
                name="%optionCategory.name">
            </optionCategory>
            <!--<option
                  browseType="directory"
                  category="org.yocto.cmake.core.cmake.category.options"
                  id="org.yocto.cmake.core.cmake.options.sourcepath"
                  isAbstract="false"
                  name="Source path"
                  resourceFilter="all"
                  valueType="string">
            </option>
            <option
                  browseType="file"
                  category="org.yocto.cmake.core.cmake.category.options"
                  command="-DCMAKE_TOOLCHAIN_FILE=${value}"
                  id="org.yocto.cmake.core.cmake.options.toolchaincmakefilepath"
                  isAbstract="false"
                  name="Toolchain file"
                  resourceFilter="all"
                  valueType="string">
            </option>-->
            <option
                category="org.yocto.cmake.core.cmake.category.options"
                id="org.yocto.cmake.core.cmake.options.debugsymbols"
                name="%option.name"
                isAbstract="false"
                resourceFilter="all"
                valueType="enumerated">
                <enumeratedOptionValue
                    command="-DCMAKE_BUILD_TYPE="
                    id="org.yocto.cmake.core.cmake.options.debugsymbols.eOV1"
                    name="">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                    command="-DCMAKE_BUILD_TYPE=DEBUG"
                    id="org.yocto.cmake.core.cmake.options.debugsymbols.eOV2"
                    isDefault="true"
                    name="%enumeratedOptionValue.name.0">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                      command="-DCMAKE_BUILD_TYPE=Release"
                      id="org.yocto.cmake.core.cmake.options.debugsymbols.eOV3"
                      name="%enumeratedOptionValue.name.1">
                </enumeratedOptionValue>
            </option>
            <option
                category="org.yocto.cmake.core.cmake.category.options"
                id="org.yocto.cmake.core.cmake.options.verbosemakefile"
                name="%option.name.0"
                isAbstract="false"
                resourceFilter="all"
                valueType="enumerated">
                <enumeratedOptionValue
                    command=""
                    id="org.yocto.cmake.core.cmake.options.verbosemakefile.eOV1"
                    name="">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                    command="-DCMAKE_VERBOSE_MAKEFILE=1"
                    id="org.yocto.cmake.core.cmake.options.verbosemakefile.eOV2"
                    isDefault="true"
                    name="%enumeratedOptionValue.name.3">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                    command="-DCMAKE_VERBOSE_MAKEFILE=0"
                    id="org.yocto.cmake.core.cmake.options.verbosemakefile.eOV3"
                    name="%enumeratedOptionValue.name.4">
                </enumeratedOptionValue>
            </option>
            <option
                category="org.yocto.cmake.core.cmake.category.options"
                command="-Wdev"
                id="org.yocto.cmake.core.cmake.options.enabledevwarn"
                isAbstract="false"
                name="%option.name.1"
                resourceFilter="all"
                valueType="boolean">
            </option>
            <option
                category="org.yocto.cmake.core.cmake.category.options"
                command="-Wno-dev"
                id="org.yocto.cmake.core.cmake.options.suppressdevwarn"
                isAbstract="false"
                name="%option.name.2"
                resourceFilter="all"
                valueType="boolean">
            </option>
            <option
                category="org.yocto.cmake.core.cmake.category.options"
                id="org.yocto.cmake.core.cmake.options.otherflags"
                isAbstract="false"
                name="%option.name.3"
                resourceFilter="all"
                tip="%option.tip"
                valueType="string">
            </option>
        </tool>
        <builder
            id="org.yocto.cmake.core.builder"
            name="%builder.name"
            buildfileGenerator="org.yocto.cmake.core.CMakeMakefileGenerator"
            cleanBuildTarget="clean"
            command="make"
            isVariableCaseSensitive="false"
            supportsManagedBuild="true">
        </builder>
        <toolChain
              id="org.yocto.cmake.core.toolchain"
              isAbstract="true"
              name="%toolChain.name"
              supportsManagedBuild="true">
           <targetPlatform
                 id="org.yocto.cmake.core.target.platform.base"
                 isAbstract="false"
                 osList="linux,win32">
           </targetPlatform>
           <builder
                 id="org.yocto.cmake.core.builder.exe"
                 isAbstract="false"
                 isVariableCaseSensitive="false"
                 superClass="org.yocto.cmake.core.builder">
           </builder>
           <tool
                 id="org.yocto.cmake.core.cmake.exe"
                 isAbstract="false"
                 superClass="org.yocto.cmake.core.cmake">
           </tool>
            <tool
                  id="org.yocto.cmake.core.compiler.gnu.exe"
                  isAbstract="false"
                  natureFilter="ccnature"
                  superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
            </tool>
            <!--<tool
                id="org.yocto.cmake.core.linker.gnu.exe"
                isAbstract="false"
                natureFilter="ccnature"
                superClass="cdt.managedbuild.tool.gnu.cpp.linker">
            </tool>-->
            <tool
                  id="org.yocto.cmake.core.compiler.gnu.c.exe"
                  isAbstract="false"
                  natureFilter="cnature"
                  superClass="cdt.managedbuild.tool.gnu.c.compiler">
            </tool>
            <!--<tool
                id="org.yocto.cmake.core.linker.gnu.c.exe"
                isAbstract="false"
                natureFilter="cnature"
                superClass="cdt.managedbuild.tool.gnu.c.linker">
            </tool>-->
            <supportedProperties>
               <property
                     id="org.eclipse.cdt.build.core.buildArtefactType">
                  <value
                        id="org.yocto.cmake.core.buildArtefact.exe">
                  </value>
               </property>
            </supportedProperties>
        </toolChain>
        <toolChain
              id="org.yocto.cmake.core.toolchain.base"
              isAbstract="false"
              name="%toolChain.name.0"
              superClass="org.yocto.cmake.core.toolchain">
        </toolChain>
        <configuration
              id="org.yocto.cmake.core.configuration.base">
        </configuration>
        <projectType
            buildArtefactType="org.yocto.cmake.core.buildArtefact.exe"
            id="org.yocto.cmake.core.target.exe"
            isAbstract="false"
            isTest="false">
            <configuration
                buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
                buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
                cleanCommand="rm -rf"
                description="%config.debug.description"
                id="org.yocto.cmake.core.configuration.exe.debug"
                name="%configuration.name"
                parent="org.yocto.cmake.core.configuration.base">
                <toolChain
                      id="org.yocto.cmake.core.toolchain.exe.debug"
                      languageSettingsProviders="org.yocto.cmake.core.includeProvider"
                      superClass="org.yocto.cmake.core.toolchain.base"
                      supportsManagedBuild="true">
                    <targetPlatform
                        id="org.yocto.cmake.core.target.platform.exe.debug"
                        isAbstract="false"
                        superClass="org.yocto.cmake.core.target.platform.base">
                    </targetPlatform>
                    <builder
                        cleanBuildTarget="clean"
                        id="org.yocto.cmake.core.builder.exe.debug"
                        isVariableCaseSensitive="false"
                        superClass="org.yocto.cmake.core.builder.exe">
                    </builder>
                    <tool
                        commandLinePattern="${COMMAND} ${FLAGS} "
                        id="org.yocto.cmake.core.cmake.exe.debug"
                        isAbstract="false"
                        superClass="org.yocto.cmake.core.cmake.exe">
                    </tool>
                </toolChain>
            </configuration>
        </projectType>
    </extension>
    <extension
        point="org.eclipse.cdt.core.templates">
        <template
              filterPattern=".*gcc"
              id="org.yocto.cmake.core.template.helloWorldCCMakeProject"
              isCategory="false"
              location="templates/projecttemplates/HelloWorldCCMakeProject/template.xml"
              projectType="org.yocto.cmake.core.buildArtefact.exe">
        </template>
        <template
              filterPattern=".*g\+\+"
              id="org.yocto.cmake.core.template.helloWorldCPPCMakeProject"
              isCategory="false"
              location="templates/projecttemplates/HelloWorldCPPCMakeProject/template.xml"
              projectType="org.yocto.cmake.core.buildArtefact.exe">
        </template>
    </extension>
    <extension
          point="org.eclipse.cdt.core.templateAssociations">
       <template
             id="org.yocto.cmake.core.template.helloWorldCCMakeProject">
          <toolChain
                id="org.yocto.cmake.core.toolchain.base">
          </toolChain>
       </template>
       <template
             id="org.yocto.cmake.core.template.helloWorldCPPCMakeProject">
          <toolChain
                id="org.yocto.cmake.core.toolchain.base">
          </toolChain>
       </template>
    </extension>
    <extension
          id="CMakeNature"
          name="CMake"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.yocto.cmake.core.CMakeNature">
          </run>
       </runtime>
       <builder
             id="org.yocto.cmake.core.builder">
       </builder>
    </extension>
    <extension
          point="org.eclipse.cdt.core.templateProcessTypes">
       <processType
             name="newCMakeProject"
             processRunner="org.yocto.cmake.core.NewCMakeProjectProcess">
          <simple
                name="projectName">
          </simple>
          <simple
                external="true"
                name="projectLocation"
                nullable="true">
          </simple>
       </processType>
    </extension>
</plugin>
